<%- layout('layouts/boilerplate') %>
    <h1>
        <%= curmovie.title %> <br>
    </h1>
    <img src="<%= curmovie.poster %>" alt="Image not loaded" width="250" height="300">
    <p>
        <b>Rating: </b>
        <%= curmovie.rating %> <br>
            <b>Director: </b>
            <%= curmovie.director %>
    </p>
    <p>
        <%= curmovie.summary%>
    </p>
    <p>
    <form action="/movielist/<%=curmovie._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/movielist">All Movies</a>
        <a href="/movielist/<%= curmovie._id %>/editmovie">Edit</a>
    </footer>